TASK_HTTP_ADDR=
TASK_HTTP_SHUTDOWN_TIMEOUT=

TASK_POSTGRES_USER=
TASK_POSTGRES_PASSWORD=
TASK_POSTGRES_DB=
TASK_POSTGRES_TIMEOUT=

TASK_JWT_SECRET_KEY=

TASK_OUTBOX_LIMIT=
TASK_OUTBOX_INTERVAL=

TASK_KAFKA_BROKERS=
TASK_KAFKA_CLUSTER_ID=

TASK_REDIS_ADDR=
TASK_REDIS_PASSWORD=
TASK_REDIS_DB=